.heading{
    font-size:32px;
    text-align:center;
}
.heading1{
     font-size:24px;
}
.property{
    font-size:14px;
    color:black;
}
.heading2{
    font-size:36px;
    text-align:center;
}
.heading21{
    font-size:28px;
}
.property1{
    font-size:16px;
    color:gray;
}
.heading3{
    font-size:40px;
    text-align:center;
}
.heading31{
    font-size:32px;
}
.property2{
    font-size:18px;
    color:blue;
}
