.text{
    text-align:center;
    font-size:22px;
    font-weight:600;
}
p{
    text-align:center;
}
.imgheight{
    height:45px;
}
.box{
    background-color:#33d6ff;
    text-align:center;
}
.center{
    text-align:center;
}

.spaces{
    padding:10px;
}
.height{
    height:100%;
    padding:20px;
}
