
@media (max-width:767px){
  .box1{
    width:100%;
    display:none;
  }
    .h1{
      text-align:left;
}
}
@media (min-width:768px)
 {
  .box{
      width:49%;
      display:inline-block;
    }
    .box2{
      display:none;
    }
  .h1{
  text-align:center;
}
 }
*{
    padding:0px;
    margin: 2px;
}