.first{
    background-image:linear-gradient(#ff99ff,#000000);
    width:800px;
    height:100px;
    margin:auto;
    /*margin-top:10px;*/
    margin-bottom:8px;

}
.second{
    background-image:linear-gradient(to right ,#ff99ff,#000000);
    width:800px;
    height:100px;
    margin:auto;
    margin-bottom:8px;
}
.third{
    background-image:linear-gradient(to right ,#ff99ff,#000000,#ff99ff,#000000,#ff99ff);
    width:800px;
    height:100px;
    margin:auto;
    margin-bottom:8px;
}
.star{
 -webkit-clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    background-image:radial-gradient(#ff99ff,#000000);
    width:400px;
    height:400px;
    margin:auto;
    margin-bottom:8px;
}
.right{
    -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    background-image:linear-gradient(to right,#ff99ff,#000000);
    width:400px;
    height:200px;
    margin:auto;
}
