
.imgheight{
    height:20px;
}
.footerBorder{
    width:100%;
    border-top:1px solid #dcdcdc;
    padding:14px 0px 10px 0px;
}
.details{
    font-weight:normal;
    color:blue;
}
.bg1{
    background-image: url(assets/background.jpg);
    height:600px;
    background-image:#00000050;
    width:100%;
    background-size: cover;
}
.right{
    text-align:right;
}
.bgColor{
    background-color:Lightgray;
    height:15px;
}
.coloring{
    color:white;
}
.text{
    color:gray;
}
.paddingPage{    
padding-top:15px;
}
.space{
    margin-left:20px;
}
.profileImg{
    text-align:center;
    margin-top:200px;
}
.text1{
    padding-top:9px;
}
.shape{
  border-radius:17%;
    background-size:cover;
}
.center{
    text-align:center;
}
.spacing{
    text-align:center;
}
.right{
   text-align:right;
}
.icons{
    height:20px;
}
.imgspace{
    margin-bottom:10px;
}
.bgColor1{
    background-color: white;
}