}
.hashtag{
    height:60px;
    width:60px;
    background-color:#f0f8ff;
    text-align:center;
    padding-top:16px;
    border-radius:3px;
    font-size:17px;
}
.logos{
    height:60px;
    width:60px;
}
.star_button{
    border-radius:4px;
    background-color:#dcdcdc;
    padding:4px 10px 4px 10px;
}
.features_heading{
    margin-top:40px;
    margin-bottom:40px;
}
.star{
    padding:0px;
}
.load{
    color:#3399ff;
    font-weight:bold;
    padding-top:12px;
}
.load_position{
    text-align:center;
}
span{
    background-color:#e6f2ff;
    color:#1a88ff;
    font-size:11px;
    padding:4px 8px 4px 8px;
}
.popular_topics{
    padding:0px;
    margin-top:5px;
}
.popular_topics_heading{
    margin-top:40px;
}
.nav_bar{
    padding:0px;
}